<ng-container *ngIf="isAuthUserSend">
  <div class="dialog__item dialog__item_right" *ngIf="message">
    <div class="dialog__item_name dialog__item_name_right" [routerLink]="['/client/client-page/', sendFromUser.id]">
      {{sendFromUser.last_name}} {{sendFromUser.first_name}}
    </div>
    <img alt="" [src]="getImageSrc()" class="dialog__item_image dialog__item_image_right">
    <div class="dialog__item_message">
      {{message.message_text}}
    </div>
    <div class="dialog__item_date-send dialog__item_date-send_right">
      {{message.timestamp | date : 'shortTime'}}
    </div>
      <div *ngIf="!message.is_read" class="dialog__item_is-unread-right dialog__item_is-unread"></div>
  </div>
</ng-container>
<ng-container *ngIf="!isAuthUserSend">
  <div class="dialog__item dialog__item_left" *ngIf="message">
    <div class="dialog__item_name dialog__item_name_left" [routerLink]="['/client/client-page/', sendFromUser.id]">
      {{sendFromUser.last_name}} {{sendFromUser.first_name}}
    </div>
    <img alt="" [src]="getImageSrc()" class="dialog__item_image dialog__item_image_left">
    <div class="dialog__item_message">
      {{message.message_text}}
    </div>
    <div class="dialog__item_date-send dialog__item_date-send_left">
      {{message.timestamp | date : 'shortTime'}}
    </div>
      <div *ngIf="!message.is_read" class="dialog__item_is-unread-left dialog__item_is-unread"></div>
  </div>
</ng-container>
