@import '/src/variables';

.dialog__item {
  display: grid;

  position: relative;

  max-width: 40%;
  word-wrap: anywhere;

  padding: 6px 9px;

  border: 1px solid #1865F2;
  border-radius: 6px;
  color: #FFFFFF;
  background-color: #1865F2;

  margin-bottom: $margin-large-x;
  &_left {
    grid-template-rows: 50px auto 40px;
    grid-template-columns: 50px auto auto;

    margin-right: auto;
    margin-left: 10px;
  }
  &_right {
    grid-template-rows: 50px auto 40px;
    grid-template-columns: auto auto 50px;

    margin-left: auto;
    margin-right: 10px;
  }

  &_name {
    background-color: inherit;
    color: inherit;
    grid-row: 1;

    //font-size: 14px;

    cursor: pointer;

    padding: $padding-large;

    &_left {
      grid-column-start: 2;
      grid-column-end: 4;
      text-align: left;
    }
    &_right {
      grid-column-start: 1;
      grid-column-end: 3;

      text-align: right;
    }
  }
  &_image {
    background-color: inherit;
    color: inherit;
    width: 40px;
    height: 40px;

    object-fit: cover;

    grid-row: 1;

    border-radius: 50%;
    &_left {
      grid-column: 1;
    }
    &_right {
      grid-column: 3;
    }
  }
  &_message {
    background-color: inherit;
    color: inherit;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;

    padding-top: 10px;
  }
  &_date-send {
    background-color: inherit;
    color: inherit;
    //font-size: 12px;

    padding-top: 10px;
    grid-row: 3;
    grid-column: 1;
  }
  &_is-unread {
    position: absolute;

    width: 10px;
    height: 10px;

    background: inherit;

    transition: 0.3s ease-in-out;
    transition-delay: 1s;

    opacity: 1;

    border-radius: 50%;

    bottom: 10px;

    &-left {
      right: -20px;
    }

    &-right {
      left: -20px;
    }
  }
  &_is-read {
    opacity: 0;
  }
}

@media (max-width: $phone-max) {
  .dialog__item {
    max-width: 80%;
    &_left {
      margin-left: 5px;
    }
    &_right {
      margin-right: 5px;
    }
  }
}
