<div routerLink="../{{community.id}}/feed" class="community-item-container">
  <div class="community-item-content">
    <img class="community-item-content__image" [src]="'assets/images/test-community-img.jpg'" alt=""/>
    <div class="community-item-content__info">
      <div class="community-item-content__info-name">
        Название сообщества
      </div>
      <div class="community-item-content__info-members">
        Участников: 190
      </div>
<!--      <div class="community-item-content__info-description">-->
<!--        Это сообщество является сообщество с количество участников равным 190 человек-->
<!--      </div>-->
    </div>
  </div>
</div>
