<div class="container" *ngIf="user">
  <div class="name">
    {{fullName}}
  </div>
  <div class="menu" (click)="menuClick($event)">
    <div class="menu__item"></div>
    <app-custom-select (selected)="executeOption($event)"
                       (closed)="showMenu = false"
                       *ngIf="showMenu"
                       [showDefaultItem]="false"
                       [showSelectedItem]="false"
                       [items]="selectOptions"></app-custom-select>
  </div>
  <img alt="" class="image" [src]="user.image">
</div>
