@import '/src/variables';

.container {
  width: 100%;
  height: 550px;

  padding: $padding-medium;

  border-radius: $border-radius-medium;
  border: $border-medium;

  display: grid;

  grid-template-columns: auto 25px;

  grid-template-rows: 50px auto;

  .name {
    grid-column: 1;
    grid-row: 1;
  }

  .menu {
    grid-column: 2;
    grid-row: 1;

    position: relative;

    cursor: pointer;

    &::before, &::after, .menu__item {
      position: absolute;

      right: 0;

      background: $active;

      width: 12px;
      height: 12px;

      border-radius: 50%;
    }

    &::before, &::after {
      content: '';
    }

    .menu__item {
      top: calc(50% - 6px);
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  .image {
    grid-column-start: 1;
    grid-column-end: 3;

    grid-row: 2;

    position: relative;

    width: 100%;
    max-height: 480px;

    object-fit: cover;

    padding: $padding-medium 0;
  }
}


