<div class="show-menu-btn"
     (click)="showMobileMenu = !showMobileMenu"
     [ngClass]="
   {
     'show-menu-btn_move-right': showMobileMenu
   }"
>
  <span class="show-menu-btn__middle-line"></span>
</div>
<div class="menu" [ngClass]="{'menu_show': showMobileMenu}">
  <div class="
    menu__item
    menu__item_font-size-large
    menu__item_padding-large
    menu__item_margin-large
    menu__item_border-right" (click)="showMobileMenu = false"
    [routerLink]="['client-page', 1]" routerLinkActive="menu__item_active">
    Моя страница
  </div>
  <div class="
    menu__item
    menu__item_font-size-large
    menu__item_padding-large
    menu__item_margin-large
    menu__item_border-right" (click)="showMobileMenu = false"
    routerLink="dialogs" routerLinkActive="menu__item_active">
    Диалоги
  </div>
  <div class="
    menu__item
    menu__item_font-size-large
    menu__item_padding-large
    menu__item_margin-large
    menu__item_border-right" (click)="showMobileMenu = false"
    routerLink="users" routerLinkActive="menu__item_active">
    Друзья
  </div>
  <div class="
    menu__item
    menu__item_font-size-large
    menu__item_padding-large
    menu__item_margin-large
    menu__item_border-right" (click)="logout()">
    Выйти
  </div>
</div>
<div class="content-container">
  <router-outlet></router-outlet>
</div>
