@import '/src/variables.scss';

.menu {
  position: fixed;
  top: 0;
  left: 15%;
  width: 70%;

  display: flex;
  justify-content: right;
  margin: auto;

  background-color: $bg-content-color;

  &__item {
    padding: 12px 25px;
    cursor: pointer;
    color: #777777;

    &:hover, &_active {
      color: $base-7;
    }
  }

  & * {
    background-color: inherit;
  }
}

.content-container {
  width: 70%;
  background-color: $bg-content-color;

  margin: 70px auto;
}
