<div>
  <div class="menu">
    <div class="menu__item"
      [routerLink]="['client-page', authUser.id]" routerLinkActive="menu__item_active">
      Моя страница
    </div>
    <div class="menu__item"
         routerLink="feed" routerLinkActive="menu__item_active">
      Новости
    </div>
    <div class="menu__item"
      routerLink="dialogs" routerLinkActive="menu__item_active">
      Диалоги
    </div>
    <div class="menu__item"
      routerLink="users" routerLinkActive="menu__item_active">
      Друзья
    </div>
    <div class="menu__item"
         routerLink="community" routerLinkActive="menu__item_active">
      Сообщества
    </div>
    <div class="menu__item" (click)="logout()">
      Выйти
    </div>
  </div>
</div>
<div class="content-container">
  <router-outlet></router-outlet>
</div>
