<div *ngIf="otherUser" class="user-info" [routerLink]="['/client/client-page', otherUser.id]">
  !!! добавить фото !!! {{fullName}}
</div>
<div class="dialog-container">
  <ng-container *ngIf="dialog">
    <div class="dialog" #scroll (scroll)="scrollTop()">
      <app-message *ngFor="let message of dialog; let i = index"
                   [message]="message"
                   [sendFromUser]="message.send_from_id == authUser.id ? authUser : otherUser"
                   [isAuthUserSend]="message.send_from_id == authUser.id"
      ></app-message>
    </div>
  </ng-container>
  <div class="send-message">
    <textarea rows="1" [formControl]="messageControl"
          (keyup.enter)="sendMessage()" class="send-message__input"></textarea>
    <div (click)="sendMessage()" class="send-message__send"></div>
  </div>
</div>
