@import '/src/variables';

.dialog__item {
  border: $border-medium;
  border-radius: $border-radius-medium;

  display: grid;

  position: relative;

  grid-template-columns: 225px 50px;
  grid-template-rows: calc(18px + 12px * 2) 70px;

  white-space: nowrap;

  margin:0 $margin-medium $margin-small 0;

  padding: $padding-small;

  font-size: $font-size-small;

  transition: 0.3s ease-in-out;

  cursor: pointer;

  &_active {
    background: $active;
  }

  &_image {
    width: 50px;
    height: 50px;

    object-fit: contain;

    grid-row: 1;
    grid-column: 2;

    //padding: $padding-large;

    border-radius: $border-radius-medium;

    background: inherit;
  }

  &_name {
    font-size: inherit;

    grid-row: 1;
    grid-column: 1;

    padding: $padding-large;

    background: inherit;

    text-overflow: ellipsis;

    overflow: hidden;
  }

  &_online {
    grid-column: 1;
    grid-row: 3;

    background: $base-1;

    height: 25px;
    width: 25px;

    border-radius: 50%;
    border: $border-medium-white;
  }

  &_message {
    font-size: inherit;

    width: 100%;
    height: 100%;

    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;

    word-wrap: anywhere;

    text-overflow: ellipsis;
    white-space: nowrap;

    overflow: hidden;

    padding: $padding-large;

    background: inherit;
  }

  &_time {
    background: inherit;

    font-size: $font-size-small;

    text-align: right;

    padding-right: $padding-medium;

    grid-column: 1;
    grid-row: 3;
  }

  &_unread-amount {
    font-size: $font-size-small;

    display: inline-block;

    width: 50px;
    height: 30px;

    background: inherit;

    padding: $padding-small;

    border: $border-medium-white;
    border-radius: $border-radius-medium;

    text-align: center;

    grid-column: 2;
    grid-row: 3;

    margin-left: auto;
  }
}

@media (max-width: $desktop-medium-max) and (min-width: $desktop-medium-min){
  .dialog__item {
    grid-template-columns: 150px 50px;
  }
}
