<div class="dialog__item"
     [routerLink]="[dialogListItem.id]"
     routerLinkActive="dialog__item_active"
     *ngIf="dialogListItem">
    <div style="position: relative; background-color: inherit">
      <img [src]="dialogListItem.image"
           alt=""
           class="dialog__item_image">
      <div *ngIf="dialogListItem.is_online" class="dialog__item_online"></div>
    </div>

    <div class="dialog__item_info">
      <div class="dialog__item_info__name">
        {{fullName}}
      </div>
      <div class="dialog__item_info__message">
        {{dialogListItem.last_message}}
      </div>
      <span class="dialog__item_unread-amount" *ngIf="dialogListItem.unread_messages_amount > 0">
        {{unreadAmount}}
      </span>
    </div>
</div>
