@import '/src/variables';

.dialog__item {
  background-color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  column-gap: 10px;

  position: relative;

  white-space: nowrap;

  padding: $padding-medium;

  transition: 0.3s ease-in-out;

  cursor: pointer;

  &_active {
    background: $base-6;
  }

  &_image {
    width: 50px;
    height: 50px;

    object-fit: cover;

    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 1;

    border-radius: 50%;

    background: inherit;
  }

  &_info {
    display: grid;

    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr auto;

    width: calc(100% - 50px);

    background-color: inherit;
    &__name {
      font-size: inherit;
      background-color: inherit;

      grid-row: 1;
      grid-column-start: 1;
      grid-column-end: 3;

      text-overflow: ellipsis;

      overflow: hidden;

      font-weight: 600;
    }
    &__message {
      font-size: inherit;
      background-color: inherit;

      width: 100%;
      height: 100%;

      grid-row: 2;
      grid-column-start: 1;
      grid-column-end: 4;

      word-wrap: anywhere;

      text-overflow: ellipsis;
      white-space: nowrap;

      overflow: hidden;
    }
  }

  &_online {
    position: absolute;
    bottom: 6px;
    right: 0;

    height: 12px;
    width: 12px;

    border-radius: 50%;
    border: 1px solid $base-7;
    background-color: $base-7;
  }

  &_unread-amount {
    font-size: 11px;

    display: inline-block;

    min-width: 19px;

    background: #999999;
    color: #FFFFFF;

    padding: 4px;

    border-radius: 50%;

    text-align: center;

    grid-column: 2;
    grid-row: 3;

    margin-left: auto;
  }
}

//@media (max-width: $desktop-medium-max) and (min-width: $desktop-medium-min){
//  .dialog__item {
//
//  }
//}
//
//@media (max-width: $desktop-small-max) {
//  .dialog__item {
//    grid-template-columns: 25% 50% 25%;
//    grid-template-rows: repeat(3, auto);
//
//    &_image {
//      grid-column: 1;
//      grid-row-start: 1;
//      grid-row-end: 3;
//    }
//    &_name {
//      grid-row: 1;
//      grid-column: 2;
//    }
//    &_message {
//      grid-column-start: 2;
//      grid-column-end: 3;
//
//      grid-row: 2;
//    }
//    &_time {
//      grid-column: 3;
//      grid-row: 3;
//    }
//    &_unread-amount {
//      grid-row: 1;
//      grid-column: 3;
//    }
//  }
//}
