<div class="dialog__item"
     [routerLink]="[dialogListItem.id]"
     routerLinkActive="dialog__item_active"
     *ngIf="dialogListItem">
  <img [src]="dialogListItem.image"
       alt=""
       class="dialog__item_image">
  <div class="dialog__item_name">
    {{fullName}}
  </div>
  <div class="dialog__item_message">
    {{dialogListItem.last_message}}
  </div>
  <span class="dialog__item_time">
    {{dialogListItem.timestamp | date: 'HH:mm'}}
  </span>
  <span class="dialog__item_unread-amount" *ngIf="dialogListItem.unread_messages_amount > 0">
    {{unreadAmount}}
  </span>
</div>
