@import 'src/variables';

.container {
  width: 1200px;

  margin: 100px auto 0;

  .form {
    grid-template-columns: 1fr 1fr;

    display: grid;

    grid-column-gap: 20px;
    grid-row-gap: 10px;

    grid-template-rows: repeat(5, 1fr);

    .control {
      position: relative;

      &_p {
        &-large-xx {
          padding: $padding-large-xx;

          height: 107px;
        }
        &-small {
          padding: $padding-small;
        }
      }
      &_w50 {
        width: 50%;
      }
      &_w100 {
        width: 100%;
      }
      &_bordered {
        border: $border-medium;

        &-radius-medium {
          border-radius: $border-radius-medium;
        }
      }
      &__input {
        border-bottom: $border-medium;

        width: 100%;

        padding: $padding-medium;

        &:focus + label, &:not(:placeholder-shown) + label {
          top: 0;

          transform: translateY(25%);

          font-size: $font-size-small;
        }
      }
      &__label {
        position: absolute;

        top: 50%;
        left: $padding-large-xx + $padding-medium;

        transform: translateY(-50%);

        pointer-events: none;

        transition: 0.3s ease-in-out;
      }
    }
  }

  .btn {
    min-width: 200px;

    transition: 0.3s ease-in-out;

    cursor: pointer;

    &_center {
      margin: 0 50%;

      transform: translateX(-50%);
    }

    &_margin-vertical {
      &-large {
        margin-top: $margin-large;
        margin-bottom: $margin-large;
      }
    }

    &:hover {
      background: $active;
    }

    &_p {
      &-medium {
        padding: $padding-medium;
      }
      &-large-x {
        padding: $padding-large-x;
      }
    }

    &_bordered {
      border: $border-medium;

      &-radius-medium {
        border-radius: $border-radius-medium;
      }
    }
  }
}

.error {
  min-width: 200px;

  margin: 0 auto;

  padding: $padding-medium;

  color: $active;

  border-bottom: $border-medium;
}

.col {
  &-1 {
    grid-column: 1;
  }
  &-2 {
    grid-column: 2;
  }
}

.row {
  &-1 {
    grid-row: 1;
  }
  &-2 {
    grid-row: 2;
    &-5 {
      grid-row-start: 2;
      grid-row-end: 6;
    }
  }
  &-3 {
    grid-row: 3;
  }
  &-4 {
    grid-row: 4;
  }
  &-5 {
    grid-row: 5;
  }
}

.image {
  max-height: 458px;

  object-fit: contain;
}

@media (max-width: $desktop-medium-max) {
  .container {
    .form {
      display: flex;

      flex-direction: column;
    }
  }
}

@media (max-width: $desktop-medium-max) and (min-width: $desktop-medium-min) {
  .container {
    width: 990px;
  }
}

@media (max-width: $desktop-small-max) and (min-width: $desktop-small-min) {
  .container {
    width: 767px;
  }
}

@media (max-width: $phone-max) {
  .container {
    width: auto;

    max-width: 766px;
  }
}
