<div *ngIf="room" class="room-info">
  <img alt="" [src]="getRoomImage()" class="room-info__image"/>
  <div class="room-info__name">
    <span>{{room.room_name}}</span>
    <span>Участников: {{room.roomMembersCount}}</span>
  </div>
</div>
<div id="room" class="room-container">
  <ng-container *ngIf="room?.messages && room?.members">
    <div class="room" #scroll (scroll)="scrollTop()">
      <ng-container *ngFor="let message of room.messages; let i = index">
        <div class="date-separator" *ngIf="i == 0">
          {{message.timestamp | date : 'mediumDate'}}
        </div>
        <app-message [id]="message.id"
                     [message]="message"
                     (visible)="onMessageVisible($event)"
                     [messageId]="message.id"
                     [sendFromUser]="message.send_from_id == authUser.id ? authUser : getOtherUserSendFrom(message.send_from_id)"
                     [isAuthUserSend]="message.send_from_id == authUser.id"
        ></app-message>
        <div *ngIf="isShowDateSeparator(message.timestamp, room.messages[i+1]?.timestamp)" class="date-separator">
          {{room.messages[i+1]?.timestamp | date : 'mediumDate'}}
        </div>
      </ng-container>
    </div>
  </ng-container>
  <div class="send-message">
    <textarea rows="1" [formControl]="messageControl"
              (keyup.enter)="sendMessage()" class="send-message__input"></textarea>
    <div (click)="sendMessage()" class="send-message__send"></div>
  </div>
</div>
