@import '../../../../variables';

.user-list {
  width: 100%;
  display: grid;

  grid-template-columns: repeat(3, 33%);

  grid-gap: 10px;
}

@media (max-width: $desktop-small-max) and (min-width: $desktop-small-min) {
  .user-list {
    grid-template-columns: repeat(2, 50%);

    grid-gap: 10px;
  }
}

@media (max-width: $phone-max) {
  .user-list {
    grid-template-columns: 1fr;
  }
}
