<div class="community-list__container">
  <div class="community-list__item">
    <app-community-list-item></app-community-list-item>
  </div>
  <div class="community-list__item">
    <app-community-list-item></app-community-list-item>
  </div>
  <div class="community-list__item">
    <app-community-list-item></app-community-list-item>
  </div>
  <div class="community-list__item">
    <app-community-list-item></app-community-list-item>
  </div>
  <div class="community-list__item">
    <app-community-list-item></app-community-list-item>
  </div>
</div>
