<div class="content">
  <div class="header">Авторизация</div>
  <div class="form" [formGroup]="formGroup">
    <input placeholder="Логин" class="form__item" formControlName="login">
    <input placeholder="Пароль" type="password" class="form__item" formControlName="password">
    <button [disabled]="formGroup.invalid" class="form__item form__item_btn" (click)="authorize()">
      Войти
    </button>
    <button class="form__item form__item_btn" routerLink="/registration">
      Регистрация
    </button>
  </div>
</div>
