@import 'src/variables';

.form {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  &__item {
    width: 100%;

    position: relative;
    top: 0;
    &-margin-bot-large {
      margin-bottom: $margin-large-x;
    }
    &_label {
      position: absolute;
      top: 50%;
      left: 20px;

      pointer-events: none;

      transform: translateY(-50%);

      transition: 0.3s ease-in-out;
    }
    &_input {
      width: inherit;

      padding: $padding-large;

      border: $border-medium;
      border-radius: $border-radius-medium;

      &:focus + label, &:not(:placeholder-shown) + label {
        top: calc(0px - 25%);

        font-size: $font-size-small;

        margin-bottom: $margin-large;
        padding: 5px 10px;

        border: $border-medium;
      }
    }
    &_btn {
      width: 50%;

      outline: none;

      margin: $margin-large-x 25% 0;

      padding: $padding-large;

      border: $border-medium;
      border-radius: $border-radius-medium;

      cursor: pointer;

      transition: 0.3s ease-in-out;

      &:hover {
        background: $active;
      }
    }
    &_error {
      color: $active;

      text-align: center;

      border-left: $border-medium;
      border-right: $border-medium;

      padding: $padding-medium;
    }
  }
}

@media (max-width: 400px) {
  .form {
    width: 250px;

    min-width: 200px;
  }
}
