@import 'src/variables';

@keyframes move-cube-1 {
  50% {
    transform: translate(calc(-50% + 10px), calc(-50% + 10px)) rotate(90deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes move-cube-2 {
  50% {
    transform: translate(calc(-50% + 40px), calc(-50% + 10px)) rotate(90deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes move-cube-3 {
  50% {
    transform: translate(calc(-50% + 10px), calc(-50% + 40px)) rotate(90deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes move-cube-4 {
  50% {
    transform: translate(calc(-50% + 40px), calc(-50% + 40px)) rotate(90deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.container {
  width: 100vw;
  height: 100vh;

  position: absolute;

  top: 0;
  left: 0;

  z-index: 100000;

  background: $bg-color;

  .loader {
    max-width: 400px;
    max-height: 400px;

    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    .cube-container {
      width: 100px;
      height: 100px;

      position: absolute;

      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);

      display: grid;

      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);

      .cube {
        width: 50px;
        height: 50px;

        border: 1px solid $base-7;
        background-color: $base-7;

        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
        &-1 {
          grid-row: 1;
          grid-column: 1;

          animation-name: move-cube-1;
        }
        &-2 {
          grid-row: 1;
          grid-column: 2;

          animation-name: move-cube-2;
        }
        &-3 {
          grid-row: 2;
          grid-column: 1;

          animation-name: move-cube-3;
        }
        &-4 {
          grid-row: 2;
          grid-column: 2;

          animation-name: move-cube-4;
        }
      }
    }
  }
}
