@import '../../../../variables';

.page {
  width: 100%;

  background-color: $base-6;

  padding: 10px;

  border: 1px solid $base-6;
  border-radius: 20px;

  &_name {
    background: inherit;
    font-size: 24px;

    width: 50%;
  }

  &__image {
    width: 110px;
    height: 110px;

    object-fit: cover;

    border-radius: 20px;

    margin: $margin-large 0;
  }
  .cooperation {
    display: flex;

    justify-content: left;
    background: inherit;
    gap: 10px;
    &__btn {
      background: inherit;
      border-bottom: 1px solid $base-7;
      padding: 5px 7px;

      text-align: center;

      cursor: pointer;
    }
  }
}

.user-feed {
  margin-top: 20px;
  background: inherit;
}

//@media (max-width: $desktop-medium-max) and (min-width: $desktop-small-min) {
//  .page {
//    &_name {
//      width: 100%;
//      padding-left: $padding-large;
//    }
//    &__image {
//      margin: $margin-large calc(25% / 2);
//      width: 75%;
//      max-height: 600px;
//    }
//  }
//}
//
//@media (max-width: $phone-max) {
//  .page {
//    &_name {
//      width: 100%;
//      padding: $padding-small;
//      font-size: $font-size-medium;
//    }
//    &__image {
//      width: 100%;
//      max-height: 600px;
//    }
//    .cooperation {
//      flex-direction: column;
//      &__btn {
//        width: 100%;
//
//        &:not(:last-child) {
//          margin-bottom: $margin-medium;
//        }
//      }
//    }
//  }
//}
