<div class="page" *ngIf="user">
  <div class="page_name">
    {{fullName}}
  </div>
  <img alt="" [src]="user.image" class="page__image">
  <div class="cooperation">
    <div class="cooperation__btn" *ngIf="!isAuthClientPage" (click)="navigateToDialog()">
      Написать сообщение
    </div>
    <div class="cooperation__btn" *ngIf="isAuthClientPage">
      <app-custom-image-picker (success)="imageLoaded($event)" (error)="imageLoadError($event)"></app-custom-image-picker>
    </div>
    <div class="cooperation__btn" (click)="addToFriends()" *ngIf="!user.is_friends && !isAuthClientPage">
      Добавить в друзья
    </div>
    <div class="cooperation__btn" (click)="removeFromFriends()" *ngIf="user.is_friends && !isAuthClientPage">
      Удалить из друзей
    </div>
  </div>
  <div class="user-feed">
    <div style="margin-bottom: 30px">
      <app-feed-item></app-feed-item>
    </div>
    <div style="margin-bottom: 30px">
      <app-feed-item></app-feed-item>
    </div>
    <div style="margin-bottom: 30px">
      <app-feed-item></app-feed-item>
    </div>
    <div style="margin-bottom: 30px">
      <app-feed-item></app-feed-item>
    </div>
    <div style="margin-bottom: 30px">
      <app-feed-item></app-feed-item>
    </div>
  </div>
</div>
