<div class="page">
  <div class="page_name">
    {{fullName}}
  </div>
  <img alt="" [src]="userImage" class="page__image">
  <div class="cooperation">
    <div class="cooperation__btn" (click)="navigateToDialog()">
      Написать сообщение
    </div>
    <div class="cooperation__btn" (click)="addToFriends()" *ngIf="!user.is_friends && !this.isAuthClientPage">
      Добавить в друзья
    </div>
    <div class="cooperation__btn" (click)="removeFromFriends()" *ngIf="user.is_friends && !this.isAuthClientPage">
      Удалить из друзей
    </div>
  </div>
</div>
