@import '/src/variables.scss';

* {
  font-size: $font-size-medium;
  margin: 0;
  padding: 0;
  border: none;

  color: $text-color;
  background-color: $bg-color;

  box-sizing: border-box;

  outline: none;
}



.empty-message {
  position: absolute;

  z-index: 2;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  font-size: $font-size-medium-x;

  &__text {
    padding: $padding-large;

    font-size: inherit;
  }

  &__link {
    font-size: inherit;

    padding: $padding-large;

    cursor: pointer;

    border-bottom: $border-medium;

    transition: 0.3s ease-in-out;

    &:hover {
      background: $active;

      border-radius: $border-radius-medium;
    }
  }
}

.btn-navigate {
  position: absolute;

  top: 0;
  right: 0;

  padding: $padding-large;

  margin: 25px 25px 0 0;

  border: $border-medium;
  border-radius: $border-radius-medium;

  cursor: pointer;

  transition: 0.2s ease-in-out;

  &:hover {
    background: $active;
  }
}
