@import '/src/variables';

.dialogs-container {
  border-radius: 5px;
  background-color: #F1F1F1;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr auto;
  .dialogs__list {
    grid-column: 1;
    &-items {
      grid-row: 2;
    }
    .dialogs__search-container {
      height: 77px;
      .dialogs__search {
        width: calc(100% - 44px);
        grid-row: 1;
        font-size: 14px;
        border-radius: 30px;
        margin: 21px;
        border: 1px solid #979DAC;
        padding: 9px 20px;
      }
    }

  }
  & * {
    background-color: inherit;
  }
}

.create-room {
  background: $base-7 !important;
  padding: 12px;
  color: #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  width: calc(100% - 42px);
  margin: 21px;
}
