@import '/src/variables';

.dialogs {
  position: relative;

  display: flex;

  margin-left: $margin-large;

  .dialog-list {
    width: 25%;

    height: 750px;

    overflow: auto;
  }
  .back-to-dialog-list-btn {
    display: none;
  }
  .current-dialog {
    width: 75%;
  }
}

@media (max-width: $desktop-medium-max) {
  .dialogs {
    flex-direction: column;

    margin: 0 $margin-small;

    .back-to-dialog-list-btn {
      display: block;
      margin-left: $margin-large;

      width: 75px;
      height: 50px;

      object-fit: cover;
    }

    .dialog-list {
      max-width: 100%;

      position: relative;

      transition: 0.3s cubic-bezier(1, -0.7, 1, .99);

      &_show {
        width: 100%;

        height: 100%;

        left: 0;
      }

      &_close {
        width: 0;
        overflow: hidden;

        height: 0;

        left: -100%;
      }
    }

    .current-dialog {
      position: relative;
      top: 0;

      transition: 0.3s cubic-bezier(1, -0.7, 1, .99);

      &_show {
        width: 100%;

        right: 0;
      }

      &_close {
        width: 0;
        overflow: hidden;

        right: -100%;
      }
    }
  }
}
