@import '/src/variables';

.select-container {
  position: relative;

  font-size: 14px;

  .select-item {
    font-size: inherit;

    padding: $padding-medium;

    border-bottom: 1px solid $base-7;

    cursor: pointer;
  }

  .select-options {
    font-size: inherit;

    border: 1px solid $base-7;

    min-width: 100%;
    max-height: 300px;

    overflow: auto;

    position: absolute;

    z-index: 5;

    background: $base-6;

    margin-top: 5px;
    padding: $padding-medium;

    border-radius: $border-radius-medium;
    .option {
      font-size: inherit;
      background: inherit;

      padding: $padding-large;

      cursor: pointer;

      border-radius: $border-radius-medium;

      transition: 0.3s ease-in-out;

      &:hover, &:active {
        color: $base-7;
      }
    }
  }
}
